@page "/"
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Title Value="WebDevTool.eu - Home"></Title>

<h1>Welcome on WebDevTools.eu!</h1>

The purpose of the site is to provide some fundamental tooling for day to day web dev tasks, like GUID generation or string length calculator!
<br />
This web application is written by Dávid Bollobás using Blazor WebAssembly.
<br />
<br />
Feel free to contact me via email: <a href="mailto:hello@davidbollobas.hu">hello@davidbollobas.hu</a>
<br />
<br />
<h3>Upcoming features</h3>
<ul>
    <li>Password generator</li>
    <li>Picture resizer</li>
    <li>Image to base64</li>
</ul>