@page "/passwordGenerator"
@using System.Text;
@inject IAnalytics Analytics

@using Microsoft.AspNetCore.Components.Web.Extensions.Head
<Meta Property="description" Content="Fundamental tooling for day to day web dev tasks - Password generator" />
<Meta Property="keywords" Content="password, generator, password generator, random, random password, random password generator" />
<Title Value="WebDevTool.eu - Password generator"></Title>

<div class="content-container-div">
    <h1>Password generator</h1>
    <div>
        <div class="row">
            <div class="col">Length</div>
            <div class="col"><input id="iPasswordLength" @bind="passwordLength" type="number" min="6" max="50" /></div>
        </div>

        <div class="row">
            <div class="col">Use numbers</div>
            <div class="col"><input type="checkbox" @bind="isUseNumbers" /></div>
        </div>

        <div class="row">
            <div class="col">Use symbols</div>
            <div class="col"><input type="checkbox" @bind="isUseSymbols" /></div>
        </div>

        <div class="row">
            <div class="col">Only lowercase</div>
            <div class="col"><input type="checkbox" @bind="iOnlyLowerCase" /></div>
        </div>

        <div class="row">
            <div class="col">Only uppercase</div>
            <div class="col"><input type="checkbox" @bind="isOnlyUpperCase" /></div>
        </div>

        <div class="row">
            <div class="col"><textarea id="taGeneratedGuids" @bind="generatedPassword" rows="10"></textarea></div>
        </div>

    </div>


    <button class="btn btn-primary" @onclick="btGenerate_onclick">Generate</button>

    @code {
        int passwordLength = 10;
        bool isUseNumbers = true;
        bool isUseSymbols = true;
        bool iOnlyLowerCase = false;
        bool isOnlyUpperCase = false;

        string generatedPassword = "";

        private string numbers = "0123456789";

        void btGenerate_onclick()
        {
            generatedPassword = "asd";
        }
    }
</div>